In [3]:
import os
os.getcwd()

'C:\\Users\\MANDEEP SINGH SHERRY'

In [91]:
from glob import glob
from tqdm import tqdm

In [77]:
df.shape

(50, 3406)

In [84]:
from path import Path

In [90]:
obj1_files = glob('Desktop\Files for task 1 and task 6\Object 1\*')

In [95]:
df = pd.DataFrame()
for i in tqdm(obj1_files):
    df = pd.concat([df, pd.read_excel(i, header=None).iloc[:,6:]])

100%|████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:38<00:00,  4.24s/it]

In [96]:
df['label'] = 1

In [97]:
df.shape

(315, 3401)

In [98]:
df.head()

,6,7,8,9,10,11,12,13,14,15,...,3397,3398,3399,3400,3401,3402,3403,3404,3405,label
0,0.000384,0.000640,0.001408,0.001792,0.001408,0.001280,0.001920,0.002304,0.001920,0.002688,...,-0.010879,-0.011519,-0.011391,-0.011647,-0.011775,-0.011391,-0.011263,-0.010623,-0.009215,1
1,-0.003712,-0.003968,-0.004608,-0.004992,-0.005632,-0.006016,-0.006271,-0.006016,-0.006399,-0.006271,...,-0.006271,-0.006016,-0.005760,-0.004864,-0.003840,-0.002816,-0.002176,-0.001920,-0.001792,1
2,-0.000640,-0.000512,-0.000768,-0.000640,-0.000768,0.000000,-0.000256,-0.000256,-0.000768,-0.001024,...,-0.006911,-0.006911,-0.006783,-0.006911,-0.006399,-0.006016,-0.005376,-0.004352,-0.003328,1
3,-0.001152,-0.000896,-0.000384,0.000128,0.000000,-0.000128,-0.000768,-0.001280,-0.001280,-0.000896,...,0.013183,0.013695,0.013951,0.014463,0.014463,0.014335,0.013823,0.013311,0.012159,1
4,-0.002176,-0.001920,-0.001024,-0.000640,-0.000512,-0.000640,-0.000896,-0.000896,-0.000896,-0.001536,...,-0.009471,-0.008703,-0.007679,-0.006271,-0.006016,-0.005504,-0.004352,-0.002944,-0.001920,1

In [99]:
obj2_files = glob('Desktop\Files for task 1 and task 6\Object 2\*')
df_2 = pd.DataFrame()
for i in tqdm(obj2_files):
    df_2 = pd.concat([df_2, pd.read_excel(i, header=None).iloc[:,6:]])

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:27<00:00,  6.90s/it]

In [101]:
df_2['label'] = 0

In [102]:
df_2.shape

(200, 3401)

In [103]:
merge_df = pd.concat([df, df_2])

### Train-Test Split

In [104]:
from sklearn.model_selection import train_test_split

In [115]:
X_train, X_test, y_train, y_test = train_test_split(merge_df.iloc[:,:3400], merge_df['label'], test_size=0.2)

### Define and Train Model

In [107]:
from sklearn.ensemble import RandomForestClassifier

In [116]:
rf = RandomForestClassifier()

In [117]:
rf.fit(X_train, y_train)

RandomForestClassifier()

In [118]:
y_pred = rf.predict(X_test)

### Check Metrics, like Accuracy

In [111]:
from sklearn.metrics import accuracy_score

In [121]:
accuracy_score(y_test, y_pred)

1.0

In [119]:
y_train.value_counts()

1    248
0    164
Name: label, dtype: int64

In [120]:
y_test.value_counts()

1    67
0    36
Name: label, dtype: int64

In [94]:
import sys
sys.getsizeof(df)

8585664

In [80]:
import pandas as pd
from matplotlib import pyplot

#loading excel file

df= pd.read_excel (r'C:\Users\MANDEEP SINGH SHERRY\Desktop\Files for task 1 and task 6\Object 1\record_data_2020-10-29_10-41-1_H.xlsx',
                   header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,3396,3397,3398,3399,3400,3401,3402,3403,3404,3405
0,2,4,99,5795,23,3400,0.000384,0.000640,0.001408,0.001792,...,-0.010111,-0.010879,-0.011519,-0.011391,-0.011647,-0.011775,-0.011391,-0.011263,-0.010623,-0.009215
1,2,4,96,5532,23,3400,-0.003712,-0.003968,-0.004608,-0.004992,...,-0.006399,-0.006271,-0.006016,-0.005760,-0.004864,-0.003840,-0.002816,-0.002176,-0.001920,-0.001792
2,2,4,96,5512,23,3400,-0.000640,-0.000512,-0.000768,-0.000640,...,-0.006271,-0.006911,-0.006911,-0.006783,-0.006911,-0.006399,-0.006016,-0.005376,-0.004352,-0.003328
3,2,4,64,1843,23,3400,-0.001152,-0.000896,-0.000384,0.000128,...,0.011519,0.013183,0.013695,0.013951,0.014463,0.014463,0.014335,0.013823,0.013311,0.012159
4,2,4,55,883,23,3400,-0.002176,-0.001920,-0.001024,-0.000640,...,-0.009855,-0.009471,-0.008703,-0.007679,-0.006271,-0.006016,-0.005504,-0.004352,-0.002944,-0.001920